<section id="merch-section">
    <div class="container-fluid p-2" id="background-image-merch">
        <div class="row p-2">
            <div class="section-title">
                <div class="rectangle-back"></div>
                <div class="section-title-intro-text">
                    Merch.
                </div>
                <div class="rectangle-front"></div>
            </div>
        </div>
        <div class="row p-2">
            <div class="col d-flex justify-content-center align-items-center pb-4">
                <div class="text-style-1">
                    Wanna wear some spicy shirts? You can have them right now:
                </div>
            </div>
        </div>
        <div id="horizontal-scroll-container">
            TESTTESTTEST TESTTESTTEST TESTTESTTEST TESTTESTTEST TESTTESTTEST TESTTESTTEST TESTTESTTEST TESTTESTTEST
            TESTTESTTEST TESTTESTTEST TESTTESTTEST TESTTESTTEST
        </div>
    </div>
</section>