<section id="merch-section">
    <div class="container-fluid p-2" id="background-image-merch">
        <div class="row p-2">
            <div class="section-title">
                <div class="rectangle-back"></div>
                <div class="section-title-intro-text">
                    Merch.
                </div>
                <div class="rectangle-front"></div>
            </div>
        </div>
        <div class="row p-2">
            <div class="col d-flex justify-content-center align-items-center pb-4">
                <div class="text-style-1">
                    Wanna wear some spicy shirts? You can have them right now:
                </div>
            </div>
        </div>
        <div class="row px-2">
            <div class="col d-flex justify-content-center align-items-center">
                <div id="horizontal-scroll-container" #merchScrollContainer>
                    <ng-container *ngFor="let merchItem of merchItems">
                        <div class="card merch-card hover-card">
                            <div class="merch-img-container">
                                <img class="merch-img" src={{merchItem.src}} alt="merch-item">
                            </div>
                            <div class="card-footer">
                                <p>{{merchItem.price}} RON</p>
                                <button (click)="openMerchItem()" class="buy-button-style">Get it!</button>
                            </div>
                        </div>
                    </ng-container>
                </div>

            </div>
        </div>
        <div class="row px-2">
            <div class="col d-flex justify-content-center align-items-center pb-4">
                <button class="player-controls-btn" (click)="scrollLeft()"><span
                        class="player-action-icon action-btn-backward"></span></button>
                <button class="player-controls-btn" (click)="scrollRight()"><span
                        class="player-action-icon action-btn-forward"></span></button>
            </div>
        </div>
    </div>
</section>