#background-image-contact {
    background-image: linear-gradient(-45deg, rgba(255, 55, 120, 0.6), rgba(1, 92, 87, 0.6)), url(/assets/images/crbrvs5.jpg);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.contactRow {
    display: flex;
    justify-content: space-around;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 4px;
    width: 100%;
}

.formLabelInput {
    display: flex;
    flex-direction: column;
    padding: 4px;
    width: 100%;
    justify-content: space-between;
}

.sendButtonContainer {
    display: flex;
    flex-direction: column;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.sendButtonStyle {
    width: 100%;
    min-height: 50px;
    font-size: 1.25rem;
}

.okButtonStyle {
    margin-top: 20px;
    width: 100%;
    min-height: 30px;
    font-size: 1.25rem;
}

.form-label {
    display: flex;
    width: 100%;
    padding: 6px;
    font-size: 1.875rem;
    color: var(--main-second-color);
    text-shadow: 2px 2px var(--main-first-color);
}

.form-control {
    display: flex;
    width: 100%;
    padding: 6px;
    border-radius: 8px;
    font-size: 1.25rem;
}

.contactCard {
    display: flex;
    width: 100%;
    -webkit-min-height: 400px;
    min-height: 400px;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    margin: 2px;
    padding: 2px;
    color: var(--main-second-color);
    font-size: 1.6rem;
    text-shadow: 2px 2px var(--main-first-color);

}

.contactInfoEntry {
    display: flex;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 30px;
}

.cardContactText {
    padding: 5px;
}

.cardContactTextTitle {
    padding: 5px;
    font-size: 2rem !important;
    margin-bottom: 6px;
}

.contactIconsCard {
    padding: 5px;
}

@media(min-width:768px) and (max-width:1200px) {
    .contactInfoEntry {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 2px;
        padding-right: 2px;
        font-size: 26px;
    }
}

@media(min-width:576px) and (max-width:768px) {
    .contactInfoEntry {
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 2px;
        padding-right: 2px;
        font-size: 24px;
    }
}

@media(max-width:1080px) {
    .contactInfoEntry {
        display: block;
    }
}

@media(max-width:576px) {
    .contactCard {
        min-width: 50px;
        max-width: 400px;
    }

    .contactInfoEntry {
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 2px;
        padding-right: 2px;
        font-size: 24px;
    }
}