.footer-container {
    background-image: linear-gradient(-45deg, rgba(226, 100, 140, 0.6), rgba(1, 92, 87, 0.4)), url(../assets/images/crbrvs6.jpg);
    -webkit-background-position: 50% 20%;
    -moz-background-position: 50% 20%;
    background-position: 50% 30%;
    -webkit-background-repeat: no-repeat;
    -moz-background-repeat: no-repeat;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    display: flex;
    padding: 10px;
    flex-direction: column;
    color: var(--main-second-color);
    text-shadow: 2px 2px var(--main-first-color);
    font-size: 1.5rem;
    min-height: 25%;
}

.contact-icons {
    display: flex;
    flex-direction: row;
}

.footer-icon {
    color: var(--main-second-color);
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    text-decoration-color: none;
}

.footer-row {
    justify-content: space-between;
}

.footerRowDevelopedBy {
    justify-content: space-around;
}

.outerColumnFooter1 {
    display: flex;
    flex-direction: row;
    padding: 5px;
    text-align: center;
}

.outerColumnFooter2 {
    display: flex;
    flex-direction: row;
    padding: 5px;
    text-align: center;

}

.innerColumnFooter11 {
    padding: 5px;
    text-align: center;

}

.innerColumnFooter12 {
    padding: 5px;
    text-align: center;
}

.innerColumnFooter21 {
    padding: 5px;
    text-align: center;

}

.innerColumnFooter22 {
    padding: 5px;
    text-align: center;
}

/* VERY LARGE SCREENS: */
@media only screen and (min-width: 1100px) {
    .outerColumnFooter1 {
        justify-content: start;
    }

    .outerColumnFooter2 {
        justify-content: end;
    }

    .innerColumnFooter11 {
        padding: 20px;
        justify-content: start;
    }

    .innerColumnFooter12 {
        padding: 20px;
        justify-content: start;
    }

    .innerColumnFooter21 {
        padding: 20px;
        justify-content: end;
    }

    .innerColumnFooter22 {
        padding: 20px;
        justify-content: end;
    }
}

/* LARGE SCREENS: */
@media only screen and (min-width: 768px) and (max-width: 1100px) {
    .outerColumnFooter1 {
        justify-content: space-around;
    }

    .outerColumnFooter2 {
        justify-content: end;
    }

    .innerColumnFooter11 {
        padding: 8px;
        justify-content: start;
    }

    .innerColumnFooter12 {
        padding: 8px;
        justify-content: start;
    }

    .innerColumnFooter21 {
        padding: 8px;
        justify-content: end;
    }

    .innerColumnFooter22 {
        padding: 8px;
        justify-content: end;
        text-align: end;
    }
}

/* SMALL SCREENS: */
@media only screen and (min-width: 576px) and (max-width: 768px) {
    .outerColumnFooter1 {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    .outerColumnFooter2 {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    .innerColumnFooter11 {
        padding: 20px;
        justify-content: start;
    }

    .innerColumnFooter12 {
        padding: 20px;
        justify-content: end;
    }

    .innerColumnFooter21 {
        padding: 20px;
        justify-content: start;
    }

    .innerColumnFooter22 {
        padding: 20px;
        justify-content: end;
        text-align: end;
    }
}

.wrapperDeveloped {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    line-height: 1;
}

.danfrunzaIcon {
    background-image: url(../assets/images/danfrunza.ico);
    height: 1.2rem;
    width: 1.2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin-left: .25em;
    filter: invert(47%) sepia(53%) saturate(6454%) hue-rotate(319deg) brightness(100%) contrast(105%);
}

/* VERY SMALL SCREENS: */
@media only screen and (max-width: 576px) {
    .footer-container {
        -webkit-background-position: top;
        -moz-background-position: top;
        background-position: top;
    }

    .outerColumnFooter1 {
        flex-direction: column;
        min-width: 100%;
        padding: 10px;
        justify-content: center;
    }

    .outerColumnFooter2 {
        flex-direction: column;
        min-width: 100%;
        padding: 10px;
        justify-content: center;
    }

    .innerColumnFooter11 {
        min-width: 100%;
        padding: 10px;
        justify-content: center;

    }

    .innerColumnFooter12 {
        min-width: 100%;
        padding: 10px;
        justify-content: center;
    }

    .innerColumnFooter21 {
        min-width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
        justify-content: center;
    }

    .innerColumnFooter22 {
        min-width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
        justify-content: center;
    }

    .contact-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .wrapperDeveloped {
        font-size: 1.2rem;

    }

    .danfrunzaIcon {
        height: 1rem;
        width: 1rem;
    }
}