.hover-item {
    display: inline-block;
    transition: all .2s;
    transform-origin: 50% 50%;
}

.hover-card {
    display: inline-block;
    transition: all .2s;
    transform-origin: 50% 50%;
}

@media (pointer: fine) {
    .hover-item:hover {
        transform: scale(1.1);
    }

    .hover-card:hover {
        transform: scale(1.04);
    }

    .wrapperDeveloped:hover {
        cursor: pointer;
    }

    .nav-item:hover {
        transform: scale(1.1);
    }

    .nav-link:hover {
        color: white;
        text-shadow: 6px 6px var(--main-second-color);
    }

    button:hover {
        color: var(--main-second-color);
        background-color: var(--main-light-color);
    }

    #scroll-to-top-button.active:hover {
        opacity: 1;
    }

    .hover-item-video:hover {
        transform: scale(1.01);
    }

    .hover-icon:hover {
        transform: scale(1.2);
    }

    .hover-item-video:hover {
        transform: scale(1.01);
    }

    .modal-header .close-button:hover {
        color: var(--main-second-color);
        transform: scale(1.2);
    }
}

@media (hover: none),
(pointer: coarse),
(pointer: none) {
    .hover-item:active {
        transform: scale(1.1);
    }

    .hover-card:active {
        transform: scale(1.04);
    }

    .wrapperDeveloped:active {
        cursor: pointer;
    }

    .nav-item:active {
        transform: scale(1.1);
    }

    .nav-link:active {
        color: white;
        text-shadow: 6px 6px var(--main-second-color);
    }

    button:active {
        color: var(--main-second-color);
        background-color: var(--main-light-color);
    }

    #scroll-to-top-button.active:active {
        opacity: 1;
    }

    .hover-item-video:active {
        transform: scale(1.01);
    }

    .hover-icon:active {
        transform: scale(1.2);
    }

    .hover-item-video:active {
        transform: scale(1.01);
    }

    .modal-header .close-button:active {
        color: var(--main-second-color);
        transform: scale(1.2);
    }
}