.music-player-object {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 650px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.music-description-text {
    display: flex;
    text-justify: inter-word;
    margin: 15px;
    padding: 15px;
    font-size: 3.125rem;
    color: var(--main-second-color);
    text-shadow: 3px 3px var(--main-first-color);
    text-align: center;
    text-wrap: balance;
}

.description-column {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 5px;
    margin: 5px;
}

.music-player-column {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
    padding: 0px;
}

.youtube-embed-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
}

#youtube_embed {
    border: 2px solid var(--main-second-color);
    border-radius: 2%;
    width: 100%;
    height: 100%;
}

#background-image-music {
    background: linear-gradient(-45deg, rgba(255, 55, 120, 0.6), rgba(1, 92, 87, 0.6)), url(/assets/images/crbrvs2.jpg);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

#background-image-youtube {
    background: linear-gradient(-45deg, rgba(255, 55, 120, 0.6), rgba(1, 92, 87, 0.6)), url(/assets/images/crbrvs4.jpg);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.teaser-video-container {
    position: relative;
    border-radius: 12px;
}

.teaser-video-container video {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
}

.teaser-video-container:before {
    content: '';
    position: absolute;
    background: linear-gradient(-45deg, rgba(255, 55, 120, 0.6), rgba(1, 92, 87, 0.6));
    border-radius: 12px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--main-second-color);
    text-shadow: 2px 2px var(--main-first-color);
    font-size: 5rem;
}

.music-link-card {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    cursor: pointer;
}

.musicLogoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-logo {
    overflow: auto;
    height: auto;
    width: 140px;
}

.music-link-card-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 500px;
}

@media(min-width:768px) and (max-width:880px) {
    .music-description-text {
        margin: 10px;
        padding: 10px;
        font-size: 2.8125rem;
    }

    .description-column {
        width: 50%;
    }

    .music-player-column {
        width: 50%;
    }

    .video-overlay {
        font-size: 3.75rem;
        text-wrap: balance;
    }

    .music-link-card {
        max-width: 160px;
    }

    .music-logo {
        width: 90px;
    }
}


@media(min-width:576px) and (max-width:768px) {

    .music-logo {
        width: 80px;
    }

    .music-description-text {
        margin: 10px;
        padding: 10px;
        font-size: 2.5rem;
    }

    .description-column {
        min-width: 100%;
    }

    .music-player-column {
        min-width: 100%;
    }

    #background-image-music {
        top: 0;
        left: 0;
        width: 100%;
        background-position: left center;
        background-repeat: no-repeat;
        background-size: cover
    }

    .music-link-card {
        max-width: 140px;
    }

    .video-overlay {
        font-size: 2.5rem;
    }
}

@media(max-width:576px) {

    .music-logo {
        width: 60px;
    }

    .music-icon-column-right {
        justify-content: right;
    }

    .music-icon-column-left {
        justify-content: left;
    }

    .music-link-card-container {
        flex-direction: column;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .music-description-text {
        margin: 10px;
        padding: 10px;
        font-size: 2.1875rem;
    }

    .description-column {
        min-width: 100%;
    }

    .music-player-column {
        min-width: 100%;
    }

    #background-image-music {
        top: 0;
        left: 0;
        width: 100%;
        background-position: 20%;
        background-repeat: no-repeat;
        background-size: cover
    }

    .music-link-card {
        max-width: 160px;
    }

    .video-overlay {
        font-size: 1.25rem;
    }
}