:root {
    --main-first-color: #045855;
    --main-second-color: #FF3778;
    --main-third-color: #058681;
    --main-light-color: #F9FAF4;
    --main-dark-color: #4A6163;
    --Bold-font: "JostBold", sans-serif;
    --Regular-font: "JostRegular", sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-family: var(--Regular-font);
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;

    scrollbar-width: none;

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

::-webkit-scrollbar {
    width: 0;
    display: none;
}

.scroller {
    overflow-y: scroll;
    scrollbar-color: #0A4C95 #C2D2E4;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

a:focus {
    outline: none !important;
}

h1 h2 h3 h4 h5 h6 {
    margin: 0;
    font-style: inherit;
}

p {
    margin: 0;
    font-style: inherit;
}

li {
    list-style: none;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-light-color);
    background-color: var(--main-second-color);
    border-radius: 8px;
    border: 1px var(--main-dark-color) solid;
    cursor: pointer;
    transition: all .2s;
}

.fullSpaceHref {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

button:active {
    color: var(--main-light-color);
    background-color: var(--main-second-color);
}

textarea,
input {
    border: 1px var(--main-dark-color) solid;
    box-shadow: none;
    outline: none;
    resize: none
}

textarea:focus,
input:focus {
    outline: none;
}

@font-face {
    font-family: "JostRegular";
    src: url("../assets/fonts/Jost-Regular.ttf");
}

@font-face {
    font-family: "JostBold";
    src: url("../assets/fonts/Jost-Bold.ttf");
}

.testdiv {
    z-index: 999;
}

.row {
    display: flex;
    justify-content: center;
    min-width: 100%;
    min-height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 4rem;
    padding-right: 4rem;
    flex-direction: row;
}

.card {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
    margin: 12px;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(4, 88, 85, 0.4);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.card>p {
    padding-top: 6px;
    padding-bottom: 6px;
}

.card-footer {
    padding-top: 6px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 2rem;
    text-shadow: -1px 0 var(--main-second-color), 0 1px var(--main-second-color),
        1px 0 var(--main-second-color), 0 -1px var(--main-second-color);
    color: var(--main-first-color);
}

.section-title {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.rectangle-back {
    position: absolute;
    margin-top: 6px;
    width: 100px;
    height: 160px;
    border-width: 16px;
    border-style: solid;
    border-image: linear-gradient(to bottom, var(--main-second-color) 0%, var(--main-third-color) 100%);
    border-image-slice: 1;
    background-color: transparent;
}

.rectangle-front {
    position: absolute;
    margin-top: 6px;
    width: 100px;
    height: 160px;
    border-right-width: 16px;
    border-right-style: solid;
    border-image: linear-gradient(to bottom, var(--main-second-color) 0%, var(--main-third-color) 100%);
    border-image-slice: 1;
    background-color: transparent;
    z-index: 99;
}

.section-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    background-color: transparent;
    scroll-behavior: smooth;
}

.Column-1 {
    display: flex;
    justify-content: center;
    align-items: top;
    min-width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.Column-2 {
    display: flex;
    justify-content: center;
    align-items: top;
    min-width: 50%;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.Column-3 {
    display: flex;
    justify-content: center;
    align-items: top;
    min-width: 33%;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.Column-4 {
    display: flex;
    justify-content: center;
    align-items: top;
    min-width: 25%;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.horizontalScrollContainer {
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    scrollbar-width: none;
}

@media only screen and (min-width: 768px) and (max-width: 1100px) {
    .row {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .section-name {
        font-size: 6.25rem;
    }
}

@media(min-width:576px) and (max-width:768px) {
    .row {
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .Column-2 {
        max-width: 50%;
    }

    .Column-3 {
        min-width: 100%;
    }

    .Column-4 {
        max-width: 25%;
    }

    .card {
        padding: 10px;
        margin: 5px;
    }

    .card-footer {
        font-size: 1.5rem;
    }
}

@media(max-width:576px) {
    .row {
        flex-direction: column;
        padding-left: 0.4rem;
        padding-right: 0.4rem;
    }

    .Column-2 {
        min-width: 100%;
    }

    .Column-3 {
        min-width: 100%;
    }

    .Column-4 {
        min-width: 100%;
    }

    .card {
        padding: 10px;
        margin: 5px;
    }

    .card-footer {
        font-size: 1.5rem;
    }
}

#scroll-to-top-button {
    font-family: var(--Bold-font);
    display: block;
    position: fixed;
    bottom: -16px;
    right: -26px;
    z-index: 99;
    font-size: 200%;
    font-weight: 900;
    border: none;
    outline: none;
    background-color: var(--main-first-color);
    color: var(--main-second-color);
    cursor: pointer;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 8px;
    transition: all .2s;
    pointer-events: none;
    opacity: 0;
    box-shadow: 4px 4px var(--main-second-color);
    border: 0.1px solid var(--main-second-color);
    text-align: center;
}

#scroll-to-top-button.active {
    bottom: 16px;
    right: 26px;
    pointer-events: auto;
    opacity: 0.8;
}

#scroll-to-top-button:active {
    box-shadow: 0 6px var(--main-second-color);
    transform: translateY(4px);
}

.page-container {
    margin: 0px;
    padding: 0px;
    height: 100dvh;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    perspective: 10px;
    scrollbar-width: none;
}

.scrollContainer {
    position: relative;
}

.page-container.noScroll {
    overflow-x: hidden;
    overflow-y: hidden;
}

.hoverItemVideo {
    display: inline-block;
    transition: all .2s;
    transform-origin: 50% 50%;
}

.hover-icon {
    display: inline-block;
    transition: all .2s;
    transform-origin: 50% 50%;
}

.hoverItemVideo {
    display: inline-block;
    transition: all .2s;
    transform-origin: 50% 50%;
}

.textLineHeight {
    line-height: 40px;
}

iframe {
    display: block;
    margin: 0 auto;
    padding: 0 auto;
}