.music-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--main-light-color);
    border: 0.2rem solid var(--main-second-color);
    width: 100%;
}

.artwork {
    width: 14rem;
    border-radius: 1rem;
    border: 0.2rem solid var(--main-second-color);
    margin-top: 0.2rem;
    margin-bottom: 0.6rem;
}

.player-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player-controls button {
    padding: 0.5rem;
    margin: 0.5rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--main-second-color);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.player-action-icon {
    background-size: contain;
    width: 2rem;
    height: 2rem;
}

.action-btn-play {
    background-image: url(../../../assets/MusicPlayer/play-button-svgrepo-com.svg);
}

.action-btn-stop {
    background-image: url(../../../assets/MusicPlayer/stop-button-svgrepo-com.svg);
}

.action-btn-forward {
    background-image: url(../../../assets/MusicPlayer/next-button-svgrepo-com.svg);

}

.action-btn-backward {
    background-image: url(../../../assets/MusicPlayer/next-button-svgrepo-com.svg);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.progress-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--main-first-color);
    width: 100%;
}

.song-info {
    color: var(--main-first-color);
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

progress[value] {
    --color: var(--main-second-color);
    --background: var(--main-first-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0.5rem;
    border: 0.1rem solid var(--main-first-color);
    background: var(--background);
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    width: 100%;
}

progress[value]::-webkit-progress-bar {
    border-radius: 0.5rem;

    background: var(--background);
}

progress[value]::-webkit-progress-value {
    border-radius: 0.5rem;
    background: var(--color);
}

progress[value]::-moz-progress-bar {
    border-radius: 0.5rem;
    background: var(--color);
}